* {
    margin: 0;
    padding: 0;
  }

  footer{
      background-color: gray;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    h3{
        color: black;
        font-style: italic;
    }

    
